#titleHowDoesItWork {
  padding: 300px !important;
  top: 0;
  left: 0;
  margin: 0 auto;
  background-image: url(./business-1477601.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #e4f815;
  text-shadow: 1px 4px white;
}

#firstRowHowDoesItWork {
  padding: 50px;
}
