#titleHowDoesItWork {
  padding: 300px !important;
  background-image: url(./business-1477601.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(231, 231, 17);
}

#secondRow {
  padding: 50px;
}

#thirdRow {
  padding: 50px;
  background-color: #f99a78;
}
