@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");

.hide {
  display: none;
}

#linkEmployerSignup {
  margin: 0 50px;
  font-size: 20px;
}

#linHowDoesItWork {
  font-size: 20px;
}

#mainTitle,
:link,
:visited {
  font-family: "Quicksand", sans-serif;
  text-decoration: none !important;
  color: black;
  margin: 0;
  padding: 0;
}

#navbar {
  background-color: #f7fbfc;
}

select {
  border-radius: 50px !important;
}

#signupButton {
  border-radius: 10px !important;
  background-color: #28df99;
  border: none !important;
}

@media (max-width: 575.98px) {
  .navLink {
    font-size: 30px !important;
    height: 100px !important;
    text-align: center !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .navLink {
    font-size: 30px !important;
    height: 100px !important;
    text-align: center !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .navLink {
    font-size: 25px !important;
    height: 70px !important;
    text-align: center !important;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) {
}

/* Extra small devices (portrait phones, less than 576px) */
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) */
/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */
