.dropdownitem {
  font-size: 50px;
}

#dropdownlist {
  background-color: white;
  border-radius: !important;
}

.list-group .list-group-item:hover {
  background-color: rgb(245, 240, 240) !important;
}

#searchBar {
  border-radius: 50px 0 0 50px !important;
}

#searchButton {
  border-radius: 0 50px 50px 0 !important;
  background-color: #f6f5f5;
}

#searchBarAutocomplete {
  border-radius: 25px 0px 0px 0px !important;
}

#searchButtonAutocomplete {
  border-radius: 0 25px 0px 0 !important;
  background-color: #f6f5f5;
}
