#jobselectedCol {
  height: 100%;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 20px !important;
}

input {
  border-radius: 50px !important;
}

.modal-open {
  overflow: inherit !important;
}

select {
  border-radius: 50px !important;
}
