@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

.hide {
  display: none;
}

#loginButton {
  border-radius: 10px !important;
  background-color: #28df99 !important;
  border: none !important;
}

#mainTitle,
:link,
:visited {
  font-family: "Varela Round", sans-serif;
  text-decoration: none !important;
  color: black;
  margin: 0;
  padding: 0;
}

#navigationBar {
  background-color: white;
  margin-left: auto;
}

#navList {
  font-size: 1.2em;
  color: black;
}

#signupButton {
  border-radius: 10px !important;
  border: none !important;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
